[submodule "mlx-sys/mlx"]
	path = mlx-sys/mlx
	url = https://github.com/ml-explore/mlx.git
[submodule "mlx-sys/src/mlx-c"]
	path = mlx-sys/src/mlx-c
	# url = https://github.com/ml-explore/mlx-c.git
	url = https://github.com/minghuaw/mlx-c.git
